<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Users - MovieWeb App</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body >
<h1 style="text-align:center">MovieWeb App</h1>



<h3>Users:</h3>

    <form action="/add_user" method="POST">

        <label for="name">Name:</label>

        <input type="text" placeholder="Enter the name" id="name" name="name" required>

        <input type="submit" value="Submit">
    </form>




</body>
</html>