<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MovieWeb App</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<style>

     h1 {
     margin-top:0;
        font-size:40px;
            text-align:center;
            color: #dc3545;
        }
        h1:hover{
        color:Purple;
        cursor:pointer;
        }

        svg:hover{
        color:magenta;
        }

</style>
</head>
<body style="background-color:#ADD8E6; color: #333; padding: 10px; ">
     <h1>MovieStar
               <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg></h1>
<hr>



    <div style="display:flex; ">
        <ul style="display:flex;flex-wrap: wrap;">


        <div class="movie-box" style="width: 18rem;">
        <div  >

       <li>




            <div class="card" style="width: 18rem;">
                {% if movie.note  %}

  <img src="{{movie.poster}}" title="{{movie.note}}" style="cursor:pointer;"  class="card-img-top" alt="" width="240px" height="310px"/>

                {% endif %}

                {% if not movie.note  %}
  <img src="{{movie.poster}}" style="cursor:pointer;"  class="card-img-top" alt="" width="240px" height="310px">

                {% endif %}

  <div class="card-body">

    <span> <em><strong>{{movie.movie_name}}</strong> </em>  </span><br>
        <span>  Year: {{movie.year }}, </span>
        <span> Rating: {{movie.rating }} </span><br><br>

  </div>
        </div>

           <span style="display:flex">



        </span>

       </li>
             </div>
 </div>


    </ul>


<div style="display:flex; justify-content:center; " >

<div  style="margin-right:30px; "   >

<form action="/update/{{review_id}}" method="POST">
        <div style="display:flex; justify-content:center;flex-direction:column; " >

    <textarea style="margin-top:20px;" rows="10" cols="40" placeholder="" name="review">{{review.review_text}}</textarea>

            <label style="margin-top:20px;">Enter your rating:</label>

             <input name="rating" type="number" placeholder="Enter your rating" style="margin-top:10px;" >

     <input style="margin-bottom:40px;margin-top:40px;
                  margin-left:20px;color:blue;background-color:light blue; border-radius:10px;cursor:pointer;
                  padding:10px;"
             type="Submit" value="Update Review">
</div>

     </form>


</div>

    </div>

        <div class="review">
            {% if reviews %}
            {% for index in range(reviews|length) %}
    {% set review = reviews[index] %}
    <p style="font-size:20px;color:lime blue;">{{ index + 1 }}. {{ review.review_text }}</p>
            <h4 style="font-size:20px;color:red;" > {{review.rating}}* </h4>

    <div style="display:flex; justify-content:center;">

        <form action="/update/{{review.review_id}}">
            <input style="margin-bottom:20px; cursor:pointer;
            margin-left:20px; color:Magenta; border-radius:10px; padding:5px;"
                   type="Submit" value="Update Review">
        </form>

    </div>
{% endfor %}
{% endif %}



</div>

        </div>







       <button style="margin-bottom: 20px; margin-left: 20px; color: red; border-radius: 10px;
       padding: 10px; text-decoration: none; background-color: light grey;
         text-align:center;cursor: pointer;">
    <a href="/add_review/{{user_id}}/{{movie.movie_id}}" style="text-decoration: none; color: inherit;">Back to Review Page</a>

</button>
<a id="login" href="/login" style="margin-bottom: 20px;
        margin-left: 20px; color: red;
        background-color: #ff69b4; border: 2px solid #ff69b4;
         border-radius: 5px; padding: 10px; cursor: pointer;
          transition: background-color 0.3s, border-color 0.3s;">Sign out </a>



</body>
</html>